

h1 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: #092531;
	font-size: 270%;
	font-family: "Zapf Chancery", cursive;
	color: #90D0EB;
	text-decoration: none;	
}

#nav {
  
    height: 100vh;
    line-height:42px;
    background-color:#092531;
    width:120px;
    padding-top: 26px;
    float:left;
    
}

h2 {
	font-style: verdana;
	text-align: center;
	font-size: 200%;

}

#composite{
	background: url("settlerboard.jpg");

}

#para{
	text-align: center;
}



#victory{
	font-size:120%;
	background:white;
	width:50%;
	margin-left: 60px;
}

.button {
   border-top: 1px solid #000000;
   background: #317491;
   background: -webkit-gradient(linear, left top, left bottom, from(#092531), to(#317491));
   background: -webkit-linear-gradient(top, #092531, #317491);
   background: -moz-linear-gradient(top, #092531, #317491);
   background: -ms-linear-gradient(top, #092531, #317491);
   background: -o-linear-gradient(top, #092531, #317491);
   padding: 5px 10px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #f0e4f0;
   font-size: 18px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #95d2ec;
   background: #95d2ec;
   color: #0a010a;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }



.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 12px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, .8);
}


.team{
	width:20%;
	float:left;
	display: inline-block;
	border-radius: 15%;
}

.dice{
	float:bottom;
	font-weight: bold;
	font-size: 130%;

}

#myform {
    text-align: center;
    padding: 5px;
   
}
#numbutton{
	width:30px;
	height: 40px;

}
.qty {
    width: 33px;
    height: 18px;
    text-align: center;
}

input.numplus { width:25px; height:18px;}
input.qtyplus { width:25px; height:18px;}
input.qtyminus { width:25px; height:18px;}

input.genfreq { }

body {
	margin:0;
	padding:10;
	background: url("greyzz.png");
}


.footer {
    position:absolute;
    bottom:0;
    padding: 10px;
  	line-height:20px;
    vertical-align: baseline;
    color: white;

}


.button2 {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   float:right;
   width:13%;
   }
.button2:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.button2:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }