

h1 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	background: #3d9620;
	font-size: 270%;
	font-family: "Zapf Chancery", cursive;
	color: black;
	text-decoration: none;	
}

#nav {
  
    height: 100vh;
    line-height:42px;
    background-color:#3d9620;
    width:120px;
    padding-top: 26px;
    float:left;
    
}

h2 {
	font-style: verdana;
	text-align: center;
	font-size: 200%;

}

.button {
   border-top: 1px solid #3d9620;
   background: #3d9620;
   background: -webkit-gradient(linear, left top, left bottom, from(#3d9620), to(#3d9620));
   background: -webkit-linear-gradient(top, #3d9620, #3d9620);
   background: -moz-linear-gradient(top, #3d9620, #3d9620);
   background: -ms-linear-gradient(top, #3d9620, #3d9620);
   background: -o-linear-gradient(top, #3d9620, #3d9620);
   padding: 8px 16px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #ffffff;
   font-size: 19px;
   font-family: Georgia, Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #2ae837;
   background: #2ae837;
   color: #ffffff;
   }
.button:active {
   border-top-color: #094f11;
   background: #094f11;
   }



.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 12px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 12px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 12px rgba(0, 0, 0, .8);
}


.team{
	width:20%;
	float:left;
	display: inline-block;
	border-radius: 15%;
}

.dice{
	float:bottom;
	font-weight: bold;
	font-size: 130%;

}

#myform {
    text-align: center;
    padding: 5px;
   
}

.qty {
    width: 33px;
    height: 18px;
    text-align: center;
}

input.qtyplus { width:25px; height:18px;}
input.qtyminus { width:25px; height:18px;}

body {
	margin:0;
	padding:10;
}


.footer {
    position:absolute;
    bottom:0;
    padding: 10px;
  	line-height:20px;
    vertical-align: baseline;
    color: white;

}


/* id syntax */
#myElt {
    /* style */
}

/* class syntax */
.myClass {
    /* style */
}